!!! Strict
%html{html_attrs('en-US')}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    = render :partial => "shared/stylesheets"
    = render :partial => "shared/javascripts"
    
    = yield(:head)
  
  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      = render :partial => "shared/header"
      = render :partial => "shared/navigation"

      #content.span-24
        = yield
    = render :partial => "shared/footer"
      
